* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif !important;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}

.app-title {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
}

:root {
  --primary-100: #00D26A;
  --primary-200: #00D26A;
  --primary-300: #00D26A;
  --accent-100: #1A1A1A;
  --accent-200: #333333;
  --text-100: #FFFFFF;
  --text-200: #E0E0E0;
  --bg-100: #000000;
  --bg-200: #232323;
  --bg-300: #333333;
}


.bg-gradient-main {
  background: linear-gradient(135deg, #000000 0%, #232323 100%);
}

.text-primary-100 { color: var(--primary-100); }
.text-primary-200 { color: var(--primary-200); }
.text-primary-300 { color: var(--primary-300); }
.text-accent-100 { color: var(--accent-100); }
.text-accent-200 { color: var(--accent-200); }
.text-text-100 { color: var(--text-100); }
.text-text-200 { color: var(--text-200); }

.bg-primary-100 { background-color: var(--primary-100); }
.bg-primary-200 { background-color: var(--primary-200); }
.bg-primary-300 { background-color: var(--primary-300); }
.bg-accent-100 { background-color: var(--accent-100); }
.bg-accent-200 { background-color: var(--accent-200); }
.bg-bg-100 { background-color: var(--bg-100); }
.bg-bg-200 { background-color: var(--bg-200); }
.bg-bg-300 { background-color: var(--bg-300); }

.border-primary-100 { border-color: var(--primary-100); }
.border-primary-200 { border-color: var(--primary-200); }
.border-primary-300 { border-color: var(--primary-300); }
.border-accent-100 { border-color: var(--accent-100); }
.border-accent-200 { border-color: var(--accent-200); }
.border-bg-100 { border-color: var(--bg-100); }
.border-bg-200 { border-color: var(--bg-200); }
.border-bg-300 { border-color: var(--bg-300); }
